@model PropertyManagement.Models.Expense
<h2>Expense Type</h2>

<form asp-controller="Expenses" asp-action="CreateExpense" method="post">
	<div class="mb-5">
		<label for="ExpenseType">Expense Type</label>
		<select asp-for="ExpenseType" asp-items="ViewBag.EnumDropdown">
			<option value="">Select an option</option>
		</select>
	</div>
	<div class="mb-5">
		<label for="PropertyId">Select Property</label>
		<select asp-for="PropertyId" asp-items="ViewBag.PropertyDropdown">
			<option value="">Select a Property</option>
		</select>
	</div>
	<div class="mb-5">
		<label for="Name" class="form-label fw-bold">Name</label>
		<input asp-for="Name" type="text" class="form-control">
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-5">
		<label for="Description" class="form-label fw-bold">Description</label>
		<input asp-for="Description" type="text" class="form-control">
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="mb-5">
		<label for="Cost" class="form-label fw-bold">Cost ($)</label>
		<input asp-for="Cost" type="text" class="form-control">
		<span asp-validation-for="Cost" class="text-danger"></span>
	</div>
	<div>
		<h3>Date</h3>
		@Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control", type = "date", } })
	</div>
	<input type="submit" value="Create Expense" />
</form>
	<div> 
	@if (ViewBag.Info != null)
	{
    <p>Entered Expense:</p> 
		<p style="text-indent: 15px;">Expense Type: <i>@ViewBag.Info.ExpenseType</i></p>
		<p style="text-indent: 15px;">Property: <i>@ViewBag.Property</i></p>
		<p style="text-indent: 15px;">Name: <i>@ViewBag.Info.Name</i></p>
		<p style="text-indent: 15px;">Description: <i>@ViewBag.Info.Description</i></p>
		<p style="text-indent: 15px;">Cost: <i>$@ViewBag.Info.Cost</i></p>
		<p style="text-indent: 15px;">Cost: <i>$@ViewBag.Info.Date</i></p>
	}
	</div>